<% provide(:title, 'All users') %>
<h1>すべてのユーザー</h1>
<%= link_to "test","/word",class: "btn,line" %><!-- ルーティング確認用 -->

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <%= render @users %>
  <% end %>
</ul>

<%= will_paginate %>